@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
  /* font-family: "Segoe UI" !important; */
  font-family: "Poppins";

}

.support {
  /* margin-top: 300px; */
  /* margin-left: 100px; */
  position: absolute !important;
  bottom: 150px !important;
  right: 230px !important;
}

button.zervise-support {
  position: fixed !important;
  width: 200px;
  background: #0c89c1 !important;
  border: none !important;
  border-radius: 42px 6px 42px 42px !important;
  padding: 12px 24px !important;
  font-weight: bold !important;
  color: #fff !important;
  font-size: 15px !important;
  text-decoration: none !important;
  letter-spacing: 0.6px !important;
  box-shadow: 0 0 12px 6px #003f5c3b !important;
  outline: none !important;
  z-index: 2147483647 !important;
  transition: all 0.2s ease-in-out !important;
  cursor: pointer !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}


.zervise-support img {
  width: 25px;
  height: 25px;
  filter: brightness(0) invert(1);
}
.main {
  /* padding: 30px 30px 0 30px;
  width: 230px;
  border: 10px solid rgb(178, 221, 217);
  border-radius: 5px;
  box-shadow: 0 0 6px 6px #5f7c8764 !important; */

  /* position: relative !important; */
  min-width: 300px;
  max-width: 300px;
  min-height: 536px;
  max-height: 536px;
  /* display: flex !important;
  flex-direction: column !important; */
  /* position: fixed !important; */
  bottom: 100px !important;
  right: 30px !important;
  background: #fff !important;
  border-radius: 6px !important;
  padding: 16px 26px 0 26px !important;
  font-size: 16px !important;
  box-shadow: 0 0 12px 6px #003f5c3b !important;
  z-index: 2147483647 !important;
  overflow: hidden !important;
  display: block !important;
}

.main.disable {
  display: none !important;
}

.first {
  width: 100%;
  height: 100%;
  display: none !important;
  border-radius: 5px;
}

.first.active {
  display: block !important;
}

.middle {
  width: 100%;
  height: 100%;
  display: none !important;
  border-radius: 5px;
}

.middle.active {
  display: block !important;
}

form.zervise-form {
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  /* margin-bottom: 46px !important; */
}

.zervise-form input[type="text"] {
  outline: none !important;
  width: 88% !important;
  border-radius: 6px !important;
  border: 1px solid #9b9b9b !important;
  padding: 8px 16px !important;
  margin-bottom: 20px !important;
  transition: all 0.2s ease;
}

.zervise-form textarea {
  outline: none !important;
  resize: none !important;
  width: 88% !important;
  height: 155px !important;
  border-radius: 6px !important;
  border: 1px solid #9b9b9b !important;
  padding: 8px 16px !important;
  margin-bottom: 20px !important;
  transition: all 0.2s ease;
}

.file-upload {
  background: #f0f0f0 !important;
  border: 1px solid #9b9b9b !important;
  width: 88% !important;
  padding: 8px 16px !important;
  margin-bottom: 20px !important;
  border-radius: 6px !important;
}

.file-upload input[type="file"] {
  outline: none !important;
  font-size: 14px !important;
  cursor: pointer !important;
}

.submit-ticket {
  position: relative;
  outline: none;
  border: 2px solid #0c89c1;
  background: #0c89c1;
  padding: 7px 26px;
  border-radius: 6px;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-ticket:active{
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.submit-ticket:hover {
  background-color: transparent !important;
  color: #0c89c1;
  /* padding: 8px !important; */
}

.submit-ticket:hover .visit-text {
  color: #0c89c1 !important;
  /* position: absolute; */
    /* left: 50%; */
    transform: translateX(-10%);
}

.submit-ticket:hover img {
  visibility: hidden !important;
}

.visit-site {
  position: relative !important;
  outline: none !important;
  border: 2px solid rgba(9, 121, 121, 0.993) !important;
  background-color: rgba(9, 121, 121, 0.993);
  padding: 7px 26px !important;
  border-radius: 6px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  font-weight: bold !important;
  color: #fff !important;
  font-size: 16px !important;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box !important;
}

.visit-site:hover {
  background-color: transparent !important;
}

.visit-site:hover .visit-text {
  color: rgba(9, 121, 121, 0.993);
}

.visit-logo {
  width: 15px !important;
  height: 15px !important;
}

.visit-text {
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
}

.third {
  width: 100%;
  height: 100%;
  display: none !important;
  border-radius: 5px;
}

.third.active {
  display: block !important;
}

.faq-cnt,
.ticket-cnt {
  margin-top: 10px;
  min-height: 345px !important;
  max-height: 345px !important;
  width: 99% !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 14px;
  overflow-y: scroll !important;
}

.faq-cnt {
  gap: 8px;
}

.ticket-cnt{
  margin-bottom: -2px;
}

.ticket-item {
  width: 87%;
  height: 85px;
  padding: 9px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 2px;
  cursor: pointer;
}

.faq-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87%;
  /* height: 30px; */
  height: auto;
  padding: 9px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.faq-items.expand {
  height: 70px !important;
  line-height: 25px !important;
}

.faq-items .faq-dscr {
  display: none !important;
}

.faq-items.expand .faq-dscr {
  font-size: 20px;
  padding: 10px;
  display: block !important;
}

.faq-items.expand .faq-heading,
.faq-items.expand .plus-icon {
  display: none !important;
}
.plus-icon {
  width: 15px;
  height: 15px;
}

.ticket-top,
.ticket-bottom {
  display: flex !important;
}

.ticket-bottom {
  flex-direction: column !important;
}

.ticket-number {
  all: unset !important;
  color: #474747 !important;
  border: 1px solid #474747 !important;
  font-size: 13px !important;
  border-radius: 4px !important;
  padding: 0 8px !important;
}

.ticket-status {
  all: unset !important;
  color: #ffab00 !important;
  border: 1px solid #ffab00 !important;
  font-size: 13px !important;
  border-radius: 4px !important;
  padding: 0 8px !important;
  margin-left: 12px !important;
}

.ticket-dscr {
  font-weight: 500 !important;
  margin: 10px 0 2px 0 !important;
}

.ticket-date {
  color: #474747 !important;
  font-size: 13px !important;
}

.date-dtl {
  margin-top: 6px !important;
  font-size: 12px !important;
  font-weight: normal !important;
}

.content-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.top-title {
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.title-left {
  display: flex;
  align-items: center;
}

.icon-question {
  width: 25px;
  height: 25px;
}
.ticket-icon-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 27px;
}

.refresh-cross-icon {
  width: 46%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.refresh {
  color: white;
  border: none;
  background-color: #1a7277;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 23px;
  cursor: pointer;
}

.sync-icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.btn-plus {
  cursor: pointer;
}

img.raise-ticket-icon {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.btn-X {
  cursor: pointer;
}
img.cross-sign {
  width: 27px;
  height: 27px;
  margin-top: 5px;
  margin-right: -2px;
}

.or {
  text-align: center;
  margin: 5px 0 5px 0;
}

.bottom-nav {
  margin-top: 10px;
  width: 100% !important;
  margin: 24px 0 20px 0 !important;
  display: flex !important;
  justify-content: space-around !important;
}

.bottom-nav-item {
  all: unset !important;
  cursor: pointer !important;
  color: #808080 !important;
  font-size: 14px !important;
  padding: 1.5px 14px 2px 14px !important;
}

.bottom-nav-item.active {
  border-bottom: 2px solid #202020 !important;
  font-weight: bold !important;
  color: #202020 !important;
  font-size: 16px !important;
}

.powered-by {
  position: relative !important;
  bottom: 20px !important;
  font-size: 13px;
  margin: 30px 0 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center !important;
}

.overlay {
  position: relative;
}
.overlay-div {
  position: absolute !important;
  left: 50% !important;
  bottom: 0 !important;
  transform: translateX(-50%) !important;
  width: 90% !important;
  height: 30px;
  padding: 0 24px;
  background-color: #fff !important;
  border-radius: 6px 6px 0 0 !important;
  border: 1px solid #ccc !important;
  border-bottom: none !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: all 0.3s ease-in-out !important;
}

.overlay-div::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 6px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.15);
}

.overlay-div.expand {
  height: 445px;
  padding: 21px 21px;
}

.overlay-div.expand.overlay-div::before {
  /* display: none; */
}

.overlay-div-icon {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  visibility: hidden;
}
.overlay-div.expand .overlay-div-icon {
  visibility: visible;
  margin-top: 4px;
  margin-right: -0.1px;
}

.ticket-top-overlay {
  display: flex !important;
}

.ticket-number-overlay {
  all: unset !important;
  color: #474747 !important;
  border: 1px solid #474747 !important;
  font-size: 13px !important;
  border-radius: 4px !important;
  padding: 0 8px !important;
  /* display: none !important; */
  visibility: hidden !important;
}

.ticket-status-overlay {
  all: unset !important;
  color: #ffab00 !important;
  border: 1px solid #ffab00 !important;
  font-size: 13px !important;
  border-radius: 4px !important;
  padding: 0 8px !important;
  margin-left: 12px !important;
  visibility: hidden !important;
  /* display: none !important */
}

.overlay-div.expand .ticket-number-overlay {
  /* display: block; */
  visibility: visible !important;
}

.overlay-div.expand .ticket-status-overlay {
  visibility: visible !important;
}

.ticket-bottom-overlay {
  flex-direction: column !important;
}

.ticket-dscr-overlay {
  font-weight: 500 !important;
  margin: 10px 0 2px 0 !important;
}

.ticket-date-overlay {
  color: #474747 !important;
  font-size: 13px !important;
}

.date-dtl-overlay {
  margin-top: 6px !important;
  font-size: 12px !important;
  font-weight: normal !important;
}

.ticketData-overlay {
  display: block !important;
}
.ticketData-overlay.disable {
  display: none !important;
}

.faqData-overlay {
  display: block !important;
}
.faqData-overlay.disable {
  display: none !important;
}

.faqData-overlay .faq-dscr-scrollable {
  margin-top: 30px;
  /* margin-top: 10px; */
  min-height: 380px;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-y: scroll;
}

.faqData-overlay .faq-dscr {
  padding: 0 5px;
  margin-top: -8px;
  text-align: justify;
  padding-right: 7px;
  line-height: 35px;
  font-size: 16px;
}

.chat-cnt {
  margin-top: 14px;
  min-height: 230px;
  max-height: 230px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-y: scroll;
}

.chat-form textarea {
  outline: none !important;
  resize: none !important;
  width: 88% !important;
  border-radius: 6px !important;
  border: 1px solid #9b9b9b !important;
  padding: 8px 16px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  transition: all 0.2s ease;
}

.chat-submit {
  display: flex !important;
  justify-content: space-between;
}

.chat-file-upload {
  background: #f0f0f0 !important;
  border: 1px solid #9b9b9b !important;
  width: 65% !important;
  padding: 8px 16px !important;
  margin-bottom: 20px !important;
  border-radius: 6px !important;
  cursor: pointer !important;
}

.chat-btn {
  position: relative;
  outline: none !important;
  /* border: 2px solid rgba(9, 121, 121, 0.993) !important; */
  border: 2px solid #0c89c1;
  background: #0c89c1;
  width: 17% !important;
  height: 17% !important;
  padding: 17px 17px !important;
  border-radius: 5px;
  /* background-color: rgba(9, 121, 121, 0.993) !important; */
  cursor: pointer !important;
  transition: all 0.2s ease-in-out;
}

.chat-btn:hover{
  /* background-color: transparent !important; */
  /* z-index: -1; */
}


.chat-btn:active{
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.chat-btn img {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 15px;
  height: 15px;
  z-index: 15;
}

/* .chat-btn:hover img {
  filter: grayscale(60%);
} */

.chat-cnt .message-user{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 12px;
  gap: 8px;
}

.chat-cnt .message-admin{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 12px;
  gap: 8px;
}

.message-user .body{
  width: 160px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.message-admin .body{
  width: 160px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.body .message{
  font-size: 14px;
  padding: 4px 9px 8px 9px;
  border-radius: 12px 0 12px 12px;
  /* background-color: #8831df; */
  /* background-color: #f1f1f1; */
  /* background-color: #DBF6C6; */
  /* background-color: #75bebf; */
  background-color: #306c70;
  width: max-content;
  max-width: 226px;
  text-align: left;
  
  color: #fff;
  /* color: #202020; */

  /* border-radius: 0 12px 12px 12px !important; */
}

.ac-badge {
  width: 19px !important;
  padding: 4px 10px !important;
  text-align: center;
  
  /* background-color: #fce6b9; */
}

.ac-badge-user {
  background-color: #afdddf;
  border-radius: 0 10px 10px 10px;
  margin-left: 10px;
}

.ac-badge-admin {
  background-color: #fce6b9;
  border-radius: 10px 0 10px 10px;
  margin-right: 10px;
}

.top-title-message{
  display: flex;
  align-items: center;
} 


.message-admin .message{
  border-radius: 0 12px 12px 12px;
  /* color: #202020; */
  background-color: #5a6870;
  color: #fff;
  /* background-color: #f1f1f1; */
  /* background-color: rgba(197, 81, 213, 0.994); */
}

.msg-attachments{
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  gap: 5px;
}

.msg-attachments.admin{
  align-items: flex-start;
}

.msg-attachments img{
  width: 30px;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 27px;
  object-fit: cover;

}